# Puerto del contenedor (uvicorn)
CONTAINER_PORT=8000

# Puerto del host
HOST_PORT=8000

# Credenciales del admin
USER=admin
PASSWORD=cambiar_esto

# Secret key para cookies (cambiar con un string aleatorio)
SECRET_KEY=cambiar_esto_con_un_string_aleatorio_largo
